#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Include dpatch stuff
include /usr/share/dpatch/dpatch.make

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

# fixit : need to check 
CFLAGS += -Wall -g -fPIC								\
		-DGST_EXT_COMPANSATE_EOS_HANDLING	\
		-DGST_EXT_USE_TINY_REGISTRY			\
		-DGST_EXT_TIME_ANALYSIS 				\
		-DGST_EXT_TA_UNIT_MEXT 				\
		-DGST_EXT_PAD_LINK_UNCHECKED			\
		-DGST_EXT_REDUCE_PLUGIN_NUM 			\
		-DGST_EXT_USE_PDP_NETWORK			\
		-DGST_EXT_VOLUME_WITHOUT_LIBOIL 		\
		-DGST_EXT_AUDIOSINK_MUTE 				\
		-DEXT_AUDIO_FILTER_EFFECT 				\
		-DGST_EXT_NONBLOCKDQUE				\
		-DGST_EXT_RENEGOTIATION				\
		-DGST_EXT_MOBILECAMERA 				\
		-DGST_EXT_ASYNC_DEV					\
		-DGST_EXT_AV_RECORDING 				\
		-DGST_EXT_SWITCH_CAMERA 				\
		-DGST_EXT_OVERLAYSINK_SQVGA 			\
		-DGST_EXT_FFMUX_ADD_PROPERTY 			\
		-DGST_EXT_FFMUX_ENHANCEMENT 			\
		-DGST_EXT_I_LIKE_DSP					\
		-DGST_EXT_CAMCORDER_IPP				\
		-DGST_EXT_QUEUE_ENHANCEMENT

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

# shared library versions, option 1
version=0.10.22
major=1
# option 2, assuming the library is created as src/.libs/libfoo.so.2.0.5 or so
#version=`ls src/.libs/lib*.so.* | \
# awk '{if (match($$0,/[0-9]+\.[0-9]+\.[0-9]+$$/)) print substr($$0,RSTART)}'`
#major=`ls src/.libs/lib*.so.* | \
# awk '{if (match($$0,/\.so\.[0-9]+$$/)) print substr($$0,RSTART+4)}'`

LDFLAGS += -Wl,--hash-style=both -Wl,--as-needed

config.status:
	dh_testdir
	./autogen.sh

	./configure --prefix=/usr		\
		--disable-valgrind			\
		--without-check 			\
		--disable-static 			\
		--disable-rpath 			\
		--disable-libtool-lock 		\
		--disable-alloc-trace 		\
		--disable-gcov 			\
		--disable-nls 			\
		--disable-examples 		\
		--disable-tests 			\
		--disable-failing-tests 		\
		--disable-docbook 		\
		--disable-gtk-doc 		\
		--disable-registry-update 	\
		--disable-loadsave 		\
		--with-html-dir=/tmp/dump 	\
		$(CONFIGURE_OPTIONS) 	\
		CFLAGS="$(CFLAGS)" 	\
		LDFLAGS="$(LDFLAGS)"


build: build-stamp
build-stamp: patch-stamp config.status
	dh_testdir

	$(MAKE)	
	touch build-stamp

clean: clean1 unpatch	
clean1:
	dh_testdir
	dh_testroot
	rm -f build-stamp patch-stamp

	-$(MAKE) distclean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/tmp
	$(MAKE) DESTDIR=$(CURDIR)/debian/tmp install

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_install --sourcedir=debian/tmp --list-missing
	dh_link
	dh_strip --dbg-package=libgstreamer0.10-0-dbg
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install patch unpatch clean clean1
